.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    .item-count {
      position: absolute;
      font-size: 12px;
      bottom: 12px;
      color: #010002;
    }
}
  
@import url('https://css.gg/shopping-bag.css');

.gg-shopping-bag {
  color: #010002;
  width: 30px;
  height: 30px;
  border: 1px solid;

  &:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 6px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 1px solid;
    border-top: 0;
    top: 1px;
    left: 7px
  }
}